{% load static %}
{% load i18n %}
{% translate 'Basket' as title%}
<!DOCTYPE html>
<html lang="fr-CH">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'shop/bulma.min.css' %}">
  </head>
  <body>
  <section class="section">
    <div class="container">
      <h1 class="title">
        {{ title }}
      </h1>
      <p class="subtitle">
      {% translate 'Check your basket' %}
      </p>
      <p class="block">
      <a href="{% url 'shop:index' %}" class='button is-link '>{% translate 'Return'%}</a>
      {% if basket|length == 0 %}
        <button disabled class='button is-primary '>{% translate 'Next'%}</button>
      {% else %}
        <a href="{% url 'shop:reservation' %}" class='button is-primary '>{% translate 'Next'%}</a>
      {% endif %}
      </p>
      <table class="table">
        <thead>
          <tr>
            <th>{% translate 'Image' %}</th>
            <th>{% translate 'Name' %}</th>
            <th>{% translate 'Description' %}</th>
            <th>{% translate 'Price' %}</th>
            <th></th>
          </tr>
        </thead>
        {% for product in basket %}
          <tr>
            <td><img class="image" width="128" src="{% static product.image %}"></td>
            <td>{{ product.name }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.price }}</td>
            <td><a href="{% url 'shop:delete-item-basket'  product.id %}" class="button is-danger">{% translate 'Delete'%}</a></td>
          </tr>
        {% endfor %}
        <tfoot>
          <tr>
            <td colspan="3">{% translate 'Total price:' %}</td>
            <td colspan="2">{{ total_price }}</td>
            <tr>
        </tfoot>
      </table>
      <a href="{% url 'shop:delete-basket'%}" class="button is-danger">{% translate 'Delete all'%}</a>
    </div>
  </section>
  </body>
</html>
