{% load static %}
{% load i18n %}
{% translate 'Shop' as title %}
<!DOCTYPE html>
<html lang='fr-CH'>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <script src="{% static 'shop/scripts/addItem.js' %}"></script>
    <link rel="stylesheet" href="{% static 'shop/bulma.min.css' %}">
  </head>
  <body lang="fr-CH">
  <section class="section">
    <div class="container">
      <h1 class="title">
          {{ title }}
      </h1>
      <p class="subtitle">
          {% translate 'Add products in your basket' %}
      </p>
      <p class="block">
          <a href="{% url 'shop:show-basket' %}" class='button is-link '>{% translate 'Check your basket'%}</a>
      </p>
    <div class="columns is-multiline">
        {% for product in products %}
            <div class="column is-one-quarter">
                {% include "shop/product.html" with product=product %}
            </div>
        {% endfor %}
    </div>
    </div>
  </section>
  </body>
</html>
