{% load static %}
{% load i18n %}
{% translate 'Summary' as title %}
<!DOCTYPE html>
<html lang="fr-CH">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'shop/bulma.min.css' %}">
  </head>
  <body>
  <section class="section">
    <div class="container">
      <h1 class="title">
        {{ title }}
      </h1>
      <p class="subtitle">
        {% translate 'Your reservation has been sended.' %}
      </p>
      <p class="block">
        <a href="{% url 'shop:index' %}" class="button is-primary">{% translate 'Home' %}</a>
      </p>
    </div>
  </section>
  </body>
</html>
